button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    margin-bottom:15px;
}

button:hover {
    background-color: white; /* Green */
    color: green;
}

a{
  margin-top:10px;
  font-size: 16px;
}
